<div class="row">

    <div class="col-4 text-start">

        <label class="fs-5" for="dia">Dia:</label>
        <input type="text" id="dia" class="form-control" placeholder="Dia" aria-label="dia">

    </div>

    <div class="col-4 text-start">
        <label class="fs-5" for="mes">Mês: </label>
        <input type="text" id="mes" class="form-control" placeholder="Mes" aria-label="mes">
    </div>

    <div class="col-4 text-start">
        <label class="fs-5" for="ano">Ano: </label>
        <input type="text" id="ano" class="form-control" placeholder="Ano" aria-label="ano">
    </div>

</div>
<div class="mt-3 ">
    <div class="border "></div>
    <div class="row d-none d-sm-flex justify-content-end ">
        <div class="col-2 justify-content-center">
            <button class="btn btn-sm btn-primary rounded-circle ">
                <img src="../../../assets/images/icon-arrow.svg" alt="">
            </button>
        </div>    
    </div>
    <div class="row d-flex d-sm-none justify-content-center">
        <div class="col ">
            <button class="btn btn-sm btn-primary rounded-circle">
                <img src="../../../assets/images/icon-arrow.svg" alt="">
            </button>
        </div>    
    </div>    
</div>
